@using DesafioSenaiCimatec.Enums;
@model TB_USUARIO
@{
    ViewData["Title"] = "Cadastrar Usuário";

}


<div class="text-center mt-3">
    <h3>Cadastrar Usuário</h3>

</div>

<div class="container col-sm-10">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="btn btn-danger btn-close btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close"></button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn btn-danger btn-close btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close"></button>
            @TempData["MensagemErro"]
        </div>
    }
</div>

<div id="overlay" class="overlay container">
    <form class="row" asp-controller="Registrar" asp-action="Criar" method="post">
        <input type="hidden" asp-for="ID_USUARIO" />

        <div class="form-group col-sm-6">
            <label>Nome Completo*</label>
            <input type="text" asp-for="NM_PESSOA" class="form-control" placeholder="Ex: Jose da Silva Santos">
            @Html.ValidationMessageFor(x => x.NM_PESSOA)
        </div>

        <div class="form-group col-sm-6">
            <label>Email*</label>
            <input type="email" asp-for="DS_EMAIL" class="form-control" placeholder="Ex: jose@email.com.br">
            @Html.ValidationMessageFor(x => x.DS_EMAIL)
        </div>

        <div class="form-group col-sm-6">
            <label>Celular*</label>
            <input type="text" asp-for="NR_CPF_PES" class="form-control" maxlength="12" placeholder="Ex: 00000000000">
            @Html.ValidationMessageFor(x => x.NR_CPF_PES)
        </div>

        <div class="form-group col-sm-6">
            <label>Aniversário</label>
            <input type="date" asp-for="DT_NAS_PESSOA" class="form-control">
        </div>

        <div class="form-group col-sm-6">
            <label for="nome" class="form-label">Perfil*</label>
            <select asp-for="TP_USUARIO" class="form-control">
                @if (@ViewBag.Perfil == DesafioSenaiCimatec.Enums.TP_USUARIO.Administrador)
                {
                    <option value="@TP_USUARIO.Administrador">Administrador</option>
                }
                <option value="@TP_USUARIO.Usuariocadastro">Usuario</option>
                <option value="@TP_USUARIO.Usuarioconsulta">Usuario Consulta</option>
            </select>
            @Html.ValidationMessageFor(x => x.TP_USUARIO)
        </div>

        <div class="btn-group col-sm-2" role="group">
            <a class="btn btn-light" role="button" asp-controller="Registrar" asp-action="PaginaAdm">Voltar</a>
            <button type="submit" class="btn btn-warning ms-2">Cadastrar</button>
        </div>
    </form>
</div>
